.page-header {
  padding: 10px;
  margin: 10px;
}
 body {
  background: url("/../main_bg2.jpg");
  background-size: 100%;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed;
}
.card-img-top {
  object-fit: cover;
  height: 100%;
}